.error-container {
    margin: 6px;
    padding: 8px 16px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: lightgray;
}

.error-container-empty {

}

.error-bar {
    width: calc(100% - calc(100vw - 100%));
    max-height: 30px;
    min-height: 20px;
    color: #de1818;
}